body {
    position: relative;
    width: 1600px;
    height: 2349px;
    background: #FFFFFF;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}
/* Header */
.header {
    width: 1600px;
    height: 150px;
    background: rgb(116, 27, 117);
margin-bottom: 0px;
display: flex;
justify-content: flex-start;
flex-direction: row;
align-items: center;
}

.nav-text {display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}
a:hover{color: blue;}
a:focus {
    color: blue;
    border: 1px solid blue;
}

.logo {
    width: auto;
    height: 150px;
}

.menu-nav {
    margin-left: 85px;
    margin-top: 0px;
    margin-bottom: 31px;
    width: 294px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    }

.header-text {
 
    margin-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: hsl(300, 17%, 98%);
}

.mail-style {
    margin-left: 339px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: hsl(300, 17%, 98%);
}

.tel-style {
    margin-left: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: hsl(300, 17%, 98%);
}

/* Main-block */
.main-block {
background: #FFFFFF;
}
.fullscreen {
width: 1600px;
height: 600px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

position: relative;
z-index: 1;
flex: 1 auto;

}
.fullscreen-body{
    z-index: 1;
    display: flex;
    position: relative;
    overflow: hidden;
  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
       
}
.fullscreen-title {
    font-size: 40px;
    padding: 25px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    letter-spacing: 25px;
    color: #FFFFFF;
}
.fulscreen-text {
    font-size: 20px;
    letter-spacing: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.video_item {
/* aspect-ratio: 16 / 9; */
object-fit:cover;
position: absolute;
width: 100%;
height: 100%;
z-index: -100;
background-color: #2f303a00;

}

.main-text {
    width: 696px;
    height: 120px;
    padding-left: 452px;
    padding-top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order {
    margin-left: 700px;
    width: 200px;
    height: 50px;
    background: hsl(310, 75%, 31%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.text-order {
    width: 136px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* Future */
.future {
    width: 1170px;
    height: 101px;
    margin-left: 215px;
    margin-top: 94px;
    display: inline-flex;
}

.future-1 {
    margin-left: 30px;
}

.future-2 {
    margin-left: 30px;
}

.future-3 {
    margin-left: 30px;
}

.future-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.future-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px
}

/* Whatwedo */
.what-we-do {
    width: 1170px;
    margin-left: 215px;
    margin-bottom: 94px;
    text-align: center;
}

.text-title {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* OurTeam */
.our-team {
    width: 1600px;
    height: 700px;
    background: #F5F4FA;
    padding-bottom: 90px;
}

.text-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: hsl(310, 75%, 31%);
    padding-top: 90px;
}

.team {
    display: inline-block;
    padding-left: 215px;
    background: #F5F4FA;
}

.personal-1 {
    float: left;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.personal-2 {
    float: left;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.foto-personal {
    width: 270px;
    height: 370px;
    margin-bottom: 10px;
}

.name-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.position-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */
.footer {
    width: 1600px;
    height: 252px;
    background: rgb(116, 27, 117);
    display: flex;
    justify-content: left;
    
    
}
.logo-f {
    padding: auto; 
}

/* address */
.footer-list{font-family: 'Roboto';
font-style: normal;
font-weight: 400px;
font-size: 20px;
line-height: auto;
letter-spacing: 0.03em;
color:#3a2f38;
display: flex;
justify-content: center;
flex-direction: row;


}
.footer-nav {      
    color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
padding-left: 100px;
padding-right: 20px;
  
    
        
}



